$primary: #00AA59;
$secondary: rgba(123, 255, 0, 0.90);
$maincolor: #006535;
$textcolor: #545454;
$third: white;
$fourth: gray;

/* contacto */

.contact__body {
    background-image: url('../img/background-all.png');
    position: relative;
    padding-left: 10em;
    padding-bottom: 15em;
    min-height: 100vh;
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto;
    grid-template-areas: ". title ."
    ". form .";

     /* Navbar */

     .navbar {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 85px;
        background-image: linear-gradient(to top, $SecondaryColor, $PrimaryColor);
        z-index: 9999;

        .main__title{
            padding-right: 20px;
            img {
                border-radius: 80%;
                width: 80px;
            }
        }

        .navbar-nav{
            float: right;
            margin-right: 20px;

            .nav-item {

                .nav-link {
                    color: $ThirdColor;
                    font-size: 12px;
                    padding: 7px 13px;
                    border-radius: 3px;
                    text-transform: uppercase;

                    &:hover {
                        background-image: linear-gradient(to left, $SecondaryColor, $Gradient);
                        color: $PrimaryColor;
                    }
                }

                .active  {
                    background-image: linear-gradient(to left, $SecondaryColor, $Gradient);
                    color: $PrimaryColor;
                }
            }

            .d-flex {
                button {
                    color: $ThirdColor;
                }
            }
        }
    }

    .col-sm {
        text-align: map-get($map: $styles, $key: align1 );
    
        h3 {
            text-align: map-get($map: $styles, $key: align2);
        }
    
        ul {
            @extend h3;
        }
    
    
    }

    .contact__container {
        margin-bottom: 40vh;
        .contact__title {
            grid-area: title;
            padding-top: 8em;
            text-align: center;
            padding-bottom: 1em;
            border-bottom: $maincolor 2px solid;
    
            h1 {
                color: $primary;
            }
        }
    
        .contact__form {
            grid-area: form;
            margin-left: 0px;
            padding: 0em 200px;
    
            .mb-3 {
                display: flex;
                flex-direction: column;
                left: 25%;
    
                label {
                    color: $textcolor;
                }
            }
            .btn {
                button {
                    color: $third;
                    background-color: $primary;
                    border: none;
                    padding: 5px 10px;
                    font-size: larger;
                }
    
                input {
                    color: $fourth;
                    font-size: small;
                }
    
                textarea {
                    @extend input
                }
            }
        }
    }

    /* footer */

    .footer {
        background-image: linear-gradient(to top, $PrimaryColor,$SecondaryColor);
        display: grid;
        grid-template-columns: auto auto auto auto auto;
        grid-template-rows: auto auto;
        justify-content: center;
        column-gap: 20px;
        padding: 50px;
        margin: 0;
        position: absolute;
        bottom: 0;
        width: 100;
        grid-template-areas: ". . . . ."
        "social social social social social";

        img {
            display: flex;
            justify-content: center;
            width: 30%;
            border-radius: 50%;
            margin-left: 5em;
        }

        .social__media {
            grid-area: social;
            display: flex;
            flex-direction: row;
            justify-content: center;
            margin-left: 37%;
        }
    }       
}

@media all and (max-width: 768px) {
    .contact__body {
        width: 425px;
        height: auto;
        padding-left: 20px;
    }
}

@media all and (max-width: 425px) {
    .contact__body {
        width: 425px;
        height: auto;
        padding-left: 0px;
    }
}

@media all and (max-width: 320px) {
    .contact__body {
        .footer {
            position: absolute;
            bottom: 0;
        }
    }
}