$primary: #00AA59;
$secondary: rgba(123, 255, 0, 0.90);

/* contacto */

.contact__body {
    background-image: linear-gradient(to left, $primary, $secondary, $primary);
    position: relative;
    padding-bottom: 15em;
    min-height: 100vh;
    display: grid;

     /* Navbar */

     .navbar {
        width: 100%;
        height: 85px;
        background-image: linear-gradient(to top, $SecondaryColor, $PrimaryColor);
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0px 75px;
        position: fixed;

        .main__title{

            img {
                border-radius: 80%;
                width: 80px;
            }
        }

        .checkbtn {
            color: $ThirdColor;
            font-size: 25px;
            float: right;
            display: none;
        }

        #check {
            display: none;
        }

        .container-fluid {
            display: flex;
            font-size: 50%;

            ul{
                display: flex;

                li {
                    list-style: none;
                    padding: 0px 8px;

                    a {
                        color: $ThirdColor;
                        text-decoration: none;
                        padding: 8px 12px;
                        border-radius: 5px;
                        font-weight: 500;
                        font-size: 17px;

                        &:hover {
                            background-image: linear-gradient(to left, $SecondaryColor, $Gradient);
                            color: $PrimaryColor;
                        }
                    }

                    .active  {
                        background-image: linear-gradient(to left, $SecondaryColor, $Gradient);
                        color: $PrimaryColor;
                    }
                }

                .form__search {
                    color:$FourthColor;

                    .btn {
                        color: $FourthColor;
                    }
                }
            }

            .form__search {
                display: flex;
                flex-direction: row;
                padding-right: 0px;
            }
        }

     }
    .col-sm {
        text-align: map-get($map: $styles, $key: align1 );
    
        h3 {
            text-align: map-get($map: $styles, $key: align2);
        }
    
        ul {
            @extend h3;
        }
    
    
    }

    grid-template: {
        columns: auto auto auto;
        rows: auto auto;
        areas: "title title title"
        "img form form";
    }

    .contact__title {
        grid-area: title;
        padding-top: 8em;
        text-align: center;
        padding-bottom: 1em;
    }

    .contact__img {
        
        img {
        grid-area: image;
        width: 20%;
        margin-left: 30%;
        border-radius: 10%;
        margin-right: 0px;
        padding-right: 0px;
        }
    }

    .contact__form {
        grid-area: form;
        margin-left: 0px;
        padding: 200px;
        padding-left: 0em;
        padding-top: 0em;
    }

    /* footer */

    .footer {
        background-image: linear-gradient(to top, $PrimaryColor,$SecondaryColor);
        display: grid;
        grid-template-columns: auto auto auto auto auto;
        grid-template-rows: auto auto;
        justify-content: center;
        column-gap: 20px;
        padding: 50px;
        margin: 0;
        position: absolute;
        bottom: 0;
        width: 100;
        grid-template-areas: ". . . . ."
        "social social social social social";

        img {
            display: flex;
            justify-content: center;
            width: 30%;
            border-radius: 50%;
            margin-left: 5em;
        }

        .social__media {
            grid-area: social;
            display: flex;
            flex-direction: row;
            justify-content: center;
            margin-left: 37%;
        }
    }
        
}