$PrimaryColor: #006535;
$SecondaryColor: #00AA59;
$ThirdColor: white;
$FourthColor: black;
$Gradient: rgba(123, 255, 0, 0.904);

@import url('https://fonts.googleapis.com/css2?family=Days+One&display=swap');

@mixin basic {
    color: $SecondaryColor;
    background: none;
}

/* Body */

@keyframes shake {
    0% {transform: rotate(20deg);}
    50% {transform: rotate(-20deg);}
    80% {transform: rotate(20deg);}
    100% {transform: rotate(0deg);}
}

.body__container {
    background-image: url('../img/background-all.png');
    width: 700 px;
    position: relative;
    padding-bottom: 15em;
    min-height: 100vh;

    /* Navbar */

    .navbar {
        position: fixed;
        top: 0;
        width: 100%;
        height: 85px;
        background-image: linear-gradient(to top, $SecondaryColor, $PrimaryColor);
        z-index: 9999;

        .main__title{
            padding-right: 20px;
            img {
                border-radius: 80%;
                width: 80px;
            }
        }

        .navbar-nav{
            float: right;
            margin-right: 20px;

            .nav-item {

                .nav-link {
                    color: $ThirdColor;
                    font-size: 12px;
                    padding: 7px 13px;
                    border-radius: 3px;
                    text-transform: uppercase;

                    &:hover {
                        background-image: linear-gradient(to left, $SecondaryColor, $Gradient);
                        color: $PrimaryColor;
                    }
                }

                .active  {
                    background-image: linear-gradient(to left, $SecondaryColor, $Gradient);
                    color: $PrimaryColor;
                }
            }

            .d-flex {
                button {
                    color: $ThirdColor;
                }
            }
        }
    } 

    .row {
        display: flex;
        padding: 100px 80px;
        justify-content: space-evenly;
        border-bottom: $PrimaryColor 2px solid;
        margin: 0px 20px;

        #logo__home {
            width: auto;
            height: auto;
            animation-name: shake;
            animation-duration: 1s;
        }
        
        /* Contenido */

        .middle__text {
            p {
                text-align: center;
                padding: 0px 80px 100px 80px;
                font-size: 80px;
                color: $PrimaryColor;
            }
        }

        .img-fluid {
            background-color: $PrimaryColor;
            display: flex;
            position: relative;
            text-align: center;
            color: $ThirdColor;
            border: $PrimaryColor 5px solid;
            max-width: 100%;
            animation-name: shake;
            animation-duration: 1s;
        }

        img {
            &:hover {
                transform: scale(0.95);
                opacity: 0.5;
            }
        }

        .overlay-text {
            padding: 40x;
            margin: 40px;
            display: flex;
            align-content: center;
            justify-content: center;
            color: $PrimaryColor;
            font-size: 40px;
            &:hover {
                background-image: linear-gradient(to left, $Gradient, $SecondaryColor, $Gradient);
                color: $ThirdColor;
                transform: scale(2);
            }
        }

        /* footer */

        .footer {
            background-image: linear-gradient(to top, $PrimaryColor,$SecondaryColor);
            display: grid;
            grid-template-columns: auto auto auto auto auto;
            grid-template-rows: auto auto;
            justify-content: center;
            column-gap: 20px;
            padding: 50px;
            margin: 0;
            position: absolute;
            bottom: 0;
            width: 100;
            grid-template-areas: ". . . . ."
            "social social social social social";

            img {
                display: flex;
                justify-content: center;
                width: 30%;
                border-radius: 50%;
                margin-left: 5em;
            }

            .social__media {
                grid-area: social;
                display: flex;
                flex-direction: row;
                justify-content: center;
                margin-left: 37%;
            }
        }
    }
}

@media all and (max-width:768px) {
    .row {
        .middle__text {
            p {
                padding: 40px 0px;
            }
        }
    }

    .col-sm-4 {
        .maintxt {
            .overlay-text {
                width: 100%;
                padding: 10px;
                margin: 40px 0px;
                font-size: 15px;
            }
        }
    }
}

@media all and (max-width: 425px) {
    .body__container {
        display: flex;
        flex-direction: column;
        width: 100vw;
        height: 10vh;

        .row {
            padding: 100px 10px 10px 40px;
            .col-xxl-3 {
                .img-fluid {
                    width: 100%;
                }
            }
            
            .middle__text {
                display: inline;
                padding: 0px 0px 40px 0px;
                margin-bottom: 10vh;
                width: 100%;
                height: 1vh;
                p {
                    font-size: 25px;
                }
            }

            .footer {
                display: flex;
                flex-direction: column;
                position: relative;
                bottom: 0;
                width: 100%;
                height: auto;
                margin: 10px 0px;
            }
        }
    }
}

@media all and (max-width:320px) {
    .body__container {
        display: flex;
        .middle__text {
            display: inline;
            padding: 0px 0px 10px 0px;
            margin-bottom: 40vh;
            width: 100%;
            height: auto;
            p {
                font-size: 25px;
            }
        }
    }
}