$primary: rgba(123, 255, 0, 0.90);
$secondary: #00AA59;
$maincolor: #006535;
$textcolor: #545454;

/* Restaurantes */

.recomendations__body {
    background-image: url('../img/background-all.png');
    position: relative;
    padding-bottom: 15em;
    min-height: 100vh;

     /* Navbar */

     .navbar {
        position: fixed;
        top: 0;
        width: 100%;
        height: 85px;
        background-image: linear-gradient(to top, $SecondaryColor, $PrimaryColor);
        z-index: 9999;

        .main__title{
            padding-right: 20px;
            img {
                border-radius: 80%;
                width: 80px;
            }
        }

        .navbar-nav{
            float: right;
            margin-right: 20px;

            .nav-item {

                .nav-link {
                    color: $ThirdColor;
                    font-size: 12px;
                    padding: 7px 13px;
                    border-radius: 3px;
                    text-transform: uppercase;

                    &:hover {
                        background-image: linear-gradient(to left, $SecondaryColor, $Gradient);
                        color: $PrimaryColor;
                    }
                }

                .active  {
                    background-image: linear-gradient(to left, $SecondaryColor, $Gradient);
                    color: $PrimaryColor;
                }
            }

            .d-flex {
                button {
                    color: $ThirdColor;
                }
            }
        }
    } 

    .col-sm {
        text-align: map-get($map: $styles, $key: align1 );
    
        h3 {
            text-align: map-get($map: $styles, $key: align2);
        }
    
        ul {
            @extend h3;
        }
    
    
    }

    .recomendation__container {
        display: grid;
        position: relative;
        padding-bottom: 15rem;
        grid-template: {
            columns: auto auto;
            rows: auto auto auto;
            areas: "title title"
            ". parag"
            "img parag"
            ". parag"
            "map map";
        }

        .recomendation__title {
            grid-area: title;
            padding-top: 8em;
            text-align: center;
            padding-bottom: 1em;
            border-bottom: $maincolor 2px solid;
            margin: 0px 20px;
            margin-bottom: 10px;
            
            h1 {
                color: $secondary;
            }
        }

        .recomendation__img {
            grid-area: img;
            justify-items: center;


            img {
                position: relative;
                width: 80%;
                border-radius: 10%;
                margin-left: 5em;
            }
        }

        .recomendation__parag {
            grid-area: parag;
            padding: 0px 40px 40px 40px;
            text-align: justify;
            p {
                color: $textcolor;
            }
        }

        .recomendation__map {
            grid-area: map;
            padding: 40px;

            #map__loc {
                width: 100%;
            }
        }
    }

    /* footer */

    .footer {
        background-image: linear-gradient(to top, $PrimaryColor,$SecondaryColor);
        display: grid;
        grid-template-columns: auto auto auto auto auto;
        grid-template-rows: auto auto;
        justify-content: center;
        column-gap: 20px;
        padding: 50px;
        margin: 0;
        position: absolute;
        bottom: 0;
        width: 100;
        grid-template-areas: ". . . . ."
        "social social social social social";

        img {
            display: flex;
            justify-content: center;
            width: 30%;
            border-radius: 50%;
            margin-left: 5em;
        }

        .social__media {
            grid-area: social;
            display: flex;
            flex-direction: row;
            justify-content: center;
            margin-left: 37%;
        }
    }
}

@media all and (max-width: 768px) {
    .recomendations__body {
        .recomendation__container {
            display: grid;
            grid-template: {
                columns: auto auto auto;
                rows: auto auto auto auto auto;
            }

            grid-template-areas: ". title ."
            ". img ."
            ". parag ."
            ". parag ."
            ". map .";

            .recomendation__title {
                grid-area: title;
            }
    
            .recomendation__img {
                grid-area: img;
                padding-bottom: 20px;
            }
    
            .recomendation__parag {
                grid-area: parag;
            }
    
            .recomendation__map {
                grid-area: map;
            }    
        }
    }
}

@media all and (max-width: 425px) {
    .recomendations__body {
        .recomendation__container {
            width: 100vw;
            margin-bottom: 50vh;
            .recomendation__img {
                display: relative;
                img {
                    margin-left: 40px;
                }
            }
        }

        .footer {
            display: flex;
            flex-direction: column;
        }
    }
}

@media all and (max-width: 320px) {
    .recomendations__body {
        .recomendation__container {
            margin-bottom: 80vh;
        }
    }
}