$primary: #00AA59;
$secondary: rgba(123, 255, 0, 0.90);
$maincolor: #006535;
$textcolor: #545454;

/* Tips */

.tips__body {
    background-image: url('../img/background-all.png');
    position: relative;
    padding-bottom: 25em;
    min-height: 100vh;
    grid-template-areas: ". title ."
    ". parag ."
    ". video .";

     /* Navbar */

     .navbar {
        position: fixed;
        top: 0;
        width: 100%;
        height: 85px;
        background-image: linear-gradient(to top, $SecondaryColor, $PrimaryColor);
        z-index: 9999;

        .main__title{
            padding-right: 20px;
            img {
                border-radius: 80%;
                width: 80px;
            }
        }

        .navbar-nav{
            float: right;
            margin-right: 20px;

            .nav-item {

                .nav-link {
                    color: $ThirdColor;
                    font-size: 12px;
                    padding: 7px 13px;
                    border-radius: 3px;
                    text-transform: uppercase;

                    &:hover {
                        background-image: linear-gradient(to left, $SecondaryColor, $Gradient);
                        color: $PrimaryColor;
                    }
                }

                .active  {
                    background-image: linear-gradient(to left, $SecondaryColor, $Gradient);
                    color: $PrimaryColor;
                }
            }

            .d-flex {
                button {
                    color: $ThirdColor;
                }
            }
        }
    } 

    .col-sm {
        text-align: map-get($map: $styles, $key: align1 );
    
        h3 {
            text-align: map-get($map: $styles, $key: align2);
        }
    
        ul {
            @extend h3;
        }
    
    
    }

    .tips__title {
        grid-area: title;
        padding-top: 8em;
        text-align: center;
        padding-bottom: 1em;
        border-bottom: $maincolor 2px solid;
        margin: 0px 20px;

        h1 {
            color: $maincolor;
        }
    }

    .tips__parag {
        grid-area: parag;
        padding: 10px 340.5px 20px 340.5px;
        text-align: justify;
        p {
            color: $textcolor;
        }
    }

    .tips__video {
        grid-area: video;
        margin-left: 28%;
        justify-items: center;
    }

    /* footer */

    .footer {
        background-image: linear-gradient(to top, $PrimaryColor,$SecondaryColor);
        display: grid;
        grid-template-columns: auto auto auto auto auto;
        grid-template-rows: auto auto;
        justify-content: center;
        column-gap: 20px;
        padding: 50px;
        margin: 0;
        position: absolute;
        bottom: 0;
        width: 100;
        grid-template-areas: ". . . . ."
        "social social social social social";

        img {
            display: flex;
            justify-content: center;
            width: 30%;
            border-radius: 50%;
            margin-left: 5em;
        }

        .social__media {
            grid-area: social;
            display: flex;
            flex-direction: row;
            justify-content: center;
            margin-left: 37%;
        }
    }
}

@media all and (max-width: 1024px) {
    .tips__body {
        .tips__parag {
            padding: 10px;
        }
    }
}

@media all and (max-width: 768px) {
    .tips__body {
        .tips__parag {
            padding: 20px;
        }
        .tips__video {
            padding: 40px;
            margin: 0px 0px 0px 80px;
        }
    }
}

@media all and (max-width: 425px) {
    .tips__body {
        width: 100vw;
        .tips__parag {
            padding: 20px;
        }
        .tips__video {
            padding: 40px 40px 40px 20px;
            margin: 0px;
            iframe {
                width: 385px;
                height: 192px;
            }
        }
    }
}
